<%= render 'reader/reader/reader_head' %>

<p id="options"><%= link_to t('reader.show'), reader_show_path, method: :delete, confirm: t('confirm') %></p>

<div id="hidden_videos">
  <% if @videos.blank? %>
      <p><%= t('reader.no_hidden_videos') %></p>
  <% else %>
      <table class="striped">
        <tr>
          <th><%= t("video_list.title") %></th>
        </tr>
        <% @videos.each do |video| %>
        <tr>
          <td><%= link_to video.title, video.play_url %>
            <%= link_to image_tag("delete.png", width: 16, height: 16), reader_show_path(video.url), method: :delete %>
          </td>
        </tr>
        <% end %>
      </table>
  <% end %>
</div>