<%= render 'reader/reader/reader_head' %>
  
<div id="reader">
  <% if @videos.blank? %>
    <h3><%= t "reader.no_videos" %></h3>
  <% else %>
    <% @videos.each do |channel, videos|
      url_params = "?"
      videos.each do |video|
        url_params += "videos[]=" + video.url + "&"
      end %>
      <div>
        <h3><span class="ajax-user" data-user="<%= channel %>"><%= image_tag "loading-small.gif" %></span> <%= link_to image_tag("delete.png", width: 16, height: 16, class: :delete), void, class: "hide noborder", "data-url" => reader_hide_path + url_params, style: "margin-left:10px" %></h3>
        <table>
          <tbody>
          <% videos.each do |video| %>
              <tr>
                <td><%= link_to video.title, video.play_url %>
                <%= link_to image_tag("delete.png", width: 16, height: 16, class: :delete), void, class: :hide, "data-url" => reader_hide_path + "?videos[]=" + video.url %></td>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
</div>