<% unless @videos.blank? %>
<div id="<%= @channel.channel %>">
  <h3><%= @channel.channel %> <%= link_to image_tag("delete.png", width: 16, height: 16), reader_hide_channel_path(@channel.channel), method: :delete, class: :noborder, style: "margin-left:10px" %></h3>
    <table>
      <tbody>
      <% @videos.each do |video| %>
          <tr>
            <td><%= link_to video.title, video.play_url %>
            <%= link_to image_tag("delete.png", width: 16, height: 16), void, class: :hide, "data-url" => reader_hide_path(video.url) %></td>
      <% end %>
      </tbody>
    </table>
</div>
<% end %>