<%= title t('youtube.grant_access_title') %>

<%= js_redirect_to url: @grant_access_url, delay: 5000 %>

<p>
  <%= t 'youtube.grant_access', application_name: t('application.name') %>
</p>

<p>
  <%= t 'youtube.redirect' %>
</p>

<p>
  <%= t 'youtube.or' %>
</p>

<p>
  <%= t('youtube.manually', link: grant_access_link).html_safe %>
</p>