<% @action_name = t 'conf.manage_users' %>

<%= render 'conf/conf/conf_head' %>

<p id="options"><%= link_to t('conf.users.new'), new_conf_user_path %></p>

<% if @users.empty? %>
    <p><%= t 'conf.users.no_users_found' %></p>
<% else %>
    <table class="wide striped">
  <tr>
    <th><%= t 'devise.username' %></th>
    <th><%= t 'devise.full_name' %></th>
    <th><%= t 'devise.email' %></th>
    <th></th>
    <th style="width:60px"></th>
  </tr>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, edit_conf_user_path(user) %></td>
        <td><%= user.full_name %></td>
        <td><%= link_to user.email, "mailto:#{user.email}" %></td>
        <td><%= user.humanize_role %></td>
        <td><%= link_to image_tag('edit.png'), edit_conf_user_path(user) %>
        <%= link_to image_tag('delete.png'), conf_user_path(user), method: :delete, confirm: t('confirm') %></td>
      </tr>
  <% end %>
</table>
<% end %>