<%= @module = 'stats'; render '/head' %>

<div id="stats-controls" class="side-controls">
  <h4><%= t "stats.providers" %></h4>
  <ul>
  <% @providers.each do |provider| %>
    <li><%= nav_link_to YouplayProvider.new(provider: provider).name, search_path(:provider, provider, stats_path) %></li>
  <% end %>
  </ul>
  <h4><%= t "stats.categories" %></h4>
  <ul>
    <li><%= nav_link_to t("stats.no_category"), search_path(:category, -1, stats_path) %></li>
  <% @categories.each do |category| %>
    <li><%= nav_link_to category.name, search_path(:category, category.id, stats_path) %></li>
  <% end %>
  </ul>
  <h4><%= t "stats.browsers" %></h4>
  <ul>
  <% @browsers.each do |browser| %>
    <li><%= nav_link_to browser, search_path(:browser, browser, stats_path) %></li>
  <% end %>
  </ul>
</div>

<h2>
  <%= t "stats.search_type.#{@search_type}" %><%= ":" if @search_subject %>
  <%= @search_subject %>

  <span class="stats-filter">
    <%= link_to t('stats.filter.video_count'), void, class: :active, id: "count" %> |
    <%= link_to t('stats.filter.video_duration'), void, id: "duration" %>
  </span>
</h2>

<% if @watched_videos.blank? %>
<div class="callout">
  <p><%= t "video_list.no_videos_found" %></p>
</div>
<% else %>
<div class="callout">
  <p>
  <% template = @start_date == @end_date ? "start_date" : "start_end_date" %>
  <%= t("stats.watched_videos.#{template}", videos: @watched_videos, 
        start_date: l(@start_date, format: :text), end_date: l(@end_date, format: :text)).html_safe %>
  </p>
  <p>
  <% template = @days > 0 ? "days_hours_minutes" : nil %>
  <% if template.blank? then template = @hours > 0 ? "hours_minutes" : "minutes" end %>
  <%= t("stats.spent_watching.#{template}", days: number_with_delimiter(@days), 
        hours: number_with_delimiter(@hours), minutes: number_with_delimiter(@minutes)).html_safe %><%=
      t("stats.spent_time_frame", percent_time_frame: number_with_precision(@percent_time_frame, precision: 2)).html_safe
      %>
  </p>
  <% if @birthday && @percent_lifetime.round(2) != 0 %>
  <p>
  <%= t("stats.spent_life", percent_lifetime: number_with_precision(@percent_lifetime, precision: 2), birthday: l(@birthday, format: :text)).html_safe %>
  </p>
  <% end %>
  <% if @watched_videos > 1 %>
  <p>
  <%= t("stats.video_duration", duration_average: number_with_precision(@duration_average, precision: 1)).html_safe
  %><% if @duration_deviation.round(1) == 0 %>.
  <% else %>
    <%= t("stats.video_duration_deviation", duration_deviation: number_with_precision(@duration_deviation, precision: 1)).html_safe %>
  <% end %>
  </p>
  <% end %>
</div>

<h3>
  <%= t "stats.videos" %>
  <span class="stats-filter">
    <%= link_to t('stats.filter.video_count'), void, class: :active, id: "providers-count" %> |
    <%= link_to t('stats.filter.video_duration'), void, id: "providers-duration" %>
  </span>
</h3>
<% if @search_type == :provider %>
<canvas id="providers-line" width="1000" height="200"></canvas>
<% else %>
<div class="metric">
    <p id="providers-legend" class="legend providers count"></p>
    <p id="providers-legend-duration" class="legend providers duration invisible"></p>
    <canvas id="providers-doughnut" class="providers count" width="185" height="185"></canvas>
    <canvas id="providers-line" class="providers count" width="585" height="185"></canvas>
    <canvas id="providers-doughnut-duration" class="providers duration invisible" width="185" height="185"></canvas>
    <canvas id="providers-line-duration" class="providers duration invisible" width="585" height="185"></canvas>
</div>
<% end %>

<%= doughnut_and_line_metric(:categories, :category) %>
<%= doughnut_and_line_metric(:channels, :channel) %>
<%= doughnut_and_line_metric(:series, :series) %>
<%= doughnut_and_line_metric(:browsers, :browser) %>
<% end %>
