<div class="pagination">
  <% if @video_count > @results_range.min %>
    <strong><%= t 'video_list.results_per_page' %></strong>
    <% results.each_with_index do |result, index| %>
        <%= result.html_safe %>
    <% end %>
  <% end %> 
  &nbsp;&nbsp;
  <% if @page_count > 1 %>
    <strong><%= t "video_list.page" %></strong>
    <% if @current_page > 2 %>
        <%= button_to_page t('video_list.first'), 1 %>
    <% end %>
    <% if @current_page > 1 %>
        <%= button_to_page t('video_list.previous'), @current_page - 1 %>
    <% end %>
    <% pages.each do |page| %>
        <%= page.html_safe %>
    <% end %>
    <% if @current_page < @page_count %>
        <%= button_to_page t('video_list.next'), @current_page + 1 %>
    <% end %>
    <% if @current_page < @page_count - 1 %>
        <%= button_to_page t('video_list.last'), @page_count %>
    <% end %>
  <% end %>
</div>
