<% if @page_count > 1 %>
  <div id="pages">
    <strong><%= t "video_list.page" %></strong>
    <% if @current_page > 2 %>
        <%= link_to_page t('video_list.first'), 1 %> |
    <% end %>
    <% if @current_page > 1 %>
        <%= link_to_page t('video_list.previous'), @current_page - 1 %> |
    <% end %>
    <% pages.each do |page| %>
        <%= page.html_safe %>
    <% end %>
    <% if @current_page < @page_count %>
        | <%= link_to_page t('video_list.next'), @current_page + 1 %>
    <% end %>
    <% if @current_page < @page_count - 1 %>
        | <%= link_to_page t('video_list.last'), @page_count %>
    <% end %>
  </div>
<% end %>

<% if @video_count > @results_range.min %>
  <div id="results">
    <strong><%= t 'video_list.results_per_page' %></strong>
    <% results.each_with_index do |result, index| %>
        <%= '|' unless index == 0 %>
        <%= result.html_safe %>
    <% end %>
  </div>
<% end %>