<%= @module = "log"; render "/head" %>

<%= @favorites = true; render "pagination" %>

<h3 id="log_heading"><%= t("video_list.only_favorites") %> <span><%= link_to t("video_list.all_videos"), log_path %></span></h3>

<%= render "video_list" %>