<%= @module = "log"; render "/head" %>

<% if @page_count > 1 %>
    <div id="pages">
      <%= t "video_list.page" %>
      <% if @current_page > 2 %>
          <%= first_page %> |
      <% end %>
      <% if @current_page > 1 %>
          <%= previous_page %> |
      <% end %>
      <% pages.each do |page| %>
          <%= page.html_safe %>
      <% end %>
      <% if @current_page < @page_count %>
          | <%= next_page %>
      <% end %>
      <% if @current_page < @page_count - 1 %>
          | <%= last_page %>
      <% end %>
    </div>
<% end %>

<% if @video_count > @results_range.min %>
    <div id="results">
      <%= t 'video_list.results_per_page' %>
      <% results.each_with_index do |result, index| %>
          <%= '|' unless index == 0 %>
          <%= result.html_safe %>
      <% end %>
    </div>
<% end %>

<% if @videos.empty? %>
    <%= t 'video_list.no_videos_found' %>
<% else %>
    <div class="videos">
      <table>
        <tr>
          <th><%= t 'video_list.date' %></th>
          <th><%= t 'video_list.title' %></th>
          <th><%= t 'video_list.channel_topic' %></th>
          <th><%= t('video_list.duration') %></th>
        </tr>
        <% @videos.each do |video| %>
            <tr>
              <td><%= l video.created_at, format: :short %></td>
              <td><%= link_to video.title, video.play_url %></td>
              <td><%= link_to_channel video.channel_topic %></td>
              <td><%= video_duration video %></td>

              <% if @is_admin %><td class="delete"><%= link_to image_tag('delete.png', width: 20, height: 20), log_delete_video_path(video), method: :delete, confirm: t('confirm') %></td>
              <% end %></tr>
        <% end %>
      </table>
    </div>
<% end %>