<table>
  <tbody>
  <tr>
    <td class="desc"><%= t 'player.meta.channel' %></td>
    <td>
      <a href="<%= @video.channel.url %>" target="_blank" style="float: right">
        <img src="/assets/newtab.png" width="16" height="16" />
      </a>
      <%= link_to @video.channel.name, search_path(:channel, "#{@video.channel.provider}:#{@video.channel.id}") %>
    </td>
  </tr>
  <tr>
    <td class="desc"><%= t 'player.meta.date' %></td>
    <td><%= l @video.uploaded_at, format: :short %></td>
  </tr>
  <tr>
    <td class="desc"><%= t 'player.meta.duration' %></td>
    <td><%= @video.humanize_duration %></td>
  </tr>
  <% if @video.topic %>
    <tr>
       <td class="desc"><%= t 'player.meta.topic' %></td>
       <td><%= @video.topic %></td>
    </tr>
  <% end %>
  <tr>
    <td class="desc"><%= t 'player.meta.views' %></td>
    <td><%= number_with_delimiter @video.views %></td>
  </tr>
  <% if @video.allowed?(:rating) and @video.rating %>
      <tr>
        <td class="desc"><%= t 'player.meta.likes' %></td>
        <td><%= number_with_delimiter @video.rating.likes %></td>
      </tr>
      <tr>
        <td class="desc"><%= t 'player.meta.dislikes' %></td>
        <td><%= number_with_delimiter @video.rating.dislikes %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<p id="download"><%= link_to image_tag("download.gif"), @video.native_client_url %>
  <%= link_to t('player.native_client'), @video.native_client_url %></p>
<div class="clear"></div>
<p id="favorite"><% if @video.saved_video.favorite.nil? %>
  <%= link_to "", void, class: :no_favorite, 'data-url' => log_set_favorite_path(@video.saved_video) %>
  <%= link_to t("player.favorite"), void, 'data-text' => t("player.no_favorite") %>
  <% else %>
  <%= link_to "", void, class: :favorite, method: :delete, 'data-url' => log_set_favorite_path(@video.saved_video) %>
  <%= link_to t("player.no_favorite"), void, 'data-text' => t("player.favorite") %>
  <% end %>
</p>
<p>
  <form id="category-form">
    <% category = @video.saved_video.category ? @video.saved_video.category.id : nil %>
    <%= select_tag :category, options_for_select(@categories, category), include_blank: true %>
    <%= submit_tag t('devise.save'), id: :submit %>
  </form>
</p>
<p>
  <form id="share-form">
    <%= select_tag :person, options_for_select(@people), include_blank: true %>
    <%= text_area_tag :message, nil, placeholder: "Message" %>
    <%= submit_tag t('player.share'), id: :submit %>
  </form>
</p>
