<%= title @video.title, link: @video.url, target: '_blank', style: 'white-space: nowrap; overflow: hidden; text-overflow: ellipsis' %>

<div id="video_sidebar" class="<%= 'sidebar_noembed' unless @video.embedding_allowed? %>">
  <%= render "sidebar" %>
</div>

<% if @video.embedding_allowed? %>
  <%= play @video %>
<% else %>
  <%= render "noembed" %>
<% end %>

<% if @video.commenting_allowed? or @video.description %>
  <%= render "description" %>
<% end %>

<% if @video.commenting_allowed? %>
  <%= render "comments" %>
<% end %>