<%= title @video.title, link: @video.player_url, target: '_blank' %>

<div id="video_sidebar" class="<%= 'sidebar_noembed' unless @video.access_control['embed'] == 'allowed' %>">
  <table>
    <tbody>
    <tr>
      <td class="desc"><%= t 'player.meta.channel' %></td>
      <td><%= link_to_channel @video.author.name %></td>
    </tr>
    <tr>
      <td class="desc"><%= t 'player.meta.date' %></td>
      <td><%= l @video.uploaded_at, format: :short %></td>
    </tr>
    <tr>
      <td class="desc"><%= t 'player.meta.duration' %></td>
      <td><%= video_duration @video %></td>
    </tr>
    <% i = 0; @video.categories.each do |category| %>
        <tr>
          <td class="desc"><%= i += 1; t 'player.meta.category' if i == 1 %></td>
          <td><%= category.label %></td>
        </tr>
    <% end %>
    <tr>
      <td class="desc"><%= t 'player.meta.views' %></td>
      <td><%= number_with_delimiter @video.view_count %></td>
    </tr>
    <% if @video.access_control['rate'] == 'allowed' && @video.rating %>
        <tr>
          <td class="desc"><%= t 'player.meta.likes' %></td>
          <td><%= number_with_delimiter @video.rating.likes %></td>
        </tr>
        <tr>
          <td class="desc"><%= t 'player.meta.dislikes' %></td>
          <td><%= number_with_delimiter @video.rating.dislikes %></td>
        </tr>
    <% end %>
    <% if @video.access_control['comment'] == 'allowed' %>
        <tr>
          <td class="desc"><%= t 'player.meta.comments' %></td>
          <td><%= number_with_delimiter @video.comment_count %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to t('player.download.download'), video_download_url(@video.unique_id) %>
</div>

<% if @video.access_control['embed'] == 'allowed' then %>
    <%= player %>
<% else %>
    <div class="noembed">
      <%= thumb = @video.thumbnails[1]; link_to image_tag(thumb.url, width: thumb.width, height: thumb.height), @video.player_url, target: '_blank' %>
      <div>
        <strong>
          <%= t 'player.noembed' %>
        </strong>

        <p>
          <%= t('player.noembed2', link: link_to(t('player.noembed_link'), @video.player_url, target: '_blank')).html_safe %>
        </p>
      </div>
    </div>
<% end %>

<div id="description">
  <%= description %>
</div>

<% if @video.access_control['comment'] == 'allowed' then %>
    <div id="write_comment">

    </div>

    <div id="comments">
      <% if @video.access_control['commentVote'] == 'allowed' then %><!-- commentVote placeholder -->
      <% end %>
    </div>
<% end %>