<p><%= t "devise.mailer.hello", username: @resource.username %></p>

<p><%= t "devise.mailer.password_text" %></p>

<p><%= link_to t("devise.mailer.password"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t "devise.mailer.ignore" %></p>
<p><%= t "devise.mailer.ignore_2" %></p>
