<!DOCTYPE html>
<html>
<head>
  <title><%= generate_title %></title>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <% unless current_user.blank? %>
    <script type="text/javascript">
      var token = "<%= current_user.token %>";
    </script>
  <% end %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="<%= Constants::jw_folder client: true %>/jwplayer.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="loading">
  </div>
  
  <ul id="subnav">
    <% unless current_user.blank? %>
      <li style="background-color:white;padding:2px">
        <form id="search-form">
          <input style="margin:4px 4px 2px 4px;width:220px" type="text" id="search" placeholder="<%= t 'sidebar.search' %>" value="<%= @search %>" />
          <input type="submit" style="visibility:hidden;position:fixed" />
        </form>
      </li>
    <% end %>
    <% begin send("#{@module}_actions").reverse.each do |action| %>
      <li><%= link_to action[:name], action[:path], class: (@current_path == action[:path] ? "active" : "") %></li>
      <% end; rescue; end %>
  </ul>

  <div id="page_title">
    <%= @page_title if @page_title %>
  </div>
  
  <div class="clear"></div>

  <div id="inner_wrapper">
    <div id="flash">
      <% if flash[:notice] %>
          <div class="notice">
            <%= flash[:notice] %>
          </div>
      <% end %>

      <% if flash[:alert] then %>
          <div class="alert">
            <%= flash[:alert] %>
          </div>
      <% end %>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div>

  <div id="sidebar" class="<%= user_signed_in? ? '' : 'signed_out' %>">
    <%= link_to image_tag("beta.png",  width: 80, height: 80), root_path, class: :noborder %>

    <% if user_signed_in? %>
        <div id="user_nav">
          <%= t 'sidebar.user_nav.logged_in_as' %>
          <br/>
          <span class="username">
            <%= current_user.full_name %>
          </span>
          <%= link_to t('sidebar.user_nav.logout'), destroy_user_session_path, method: :delete %>
        </div>

        <div id="modules_nav">
          <ul id="modules">
            <% modules.each do |module_name, module_path| %>
                <li><%= link_to module_name, module_path %></li>
            <% end %>
          </ul>
        </div>

    <% end %>
    <%= link_to t('imprint'), 'http://***REMOVED***/imprint/', target: :_blank %>
  </div>
</div>
</body>
</html>
