<!DOCTYPE html>
<html>
<head>
  <title><%= generate_title %></title>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <% if user_signed_in? %>
    <script type="text/javascript">
      var token = "<%= j current_user.token %>";
      <% if @video %>
        var video_id = "<%= "#{@video.provider}:#{@video.id}" %>";
      <% end %>
    </script>
  <% end %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="loading"></div>
  
  <ul id="subnav">
    <%= render "/layouts/subnav" %>
  </ul>
  
  <div id="page_title">
    <%= @page_title if @page_title %>
  </div>
  
  <div class="clear"></div>

  <div id="inner_wrapper">
    <div id="flash">
      <%= render "/layouts/flash", flash: flash %>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div>

  <div id="sidebar" class="<%= "signed_out" unless user_signed_in? %>">
    <%= render "/layouts/sidebar" %>
  </div>
</div>
</body>
</html>
