<!DOCTYPE html>
<html>
<head>
  <title><%= generate_title %></title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="<%= Constants::jw_folder client: true %>/jwplayer.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="loading">
  </div>

  <div id="page_title">
    <%= @page_title if @page_title %>
  </div>

  <div id="inner_wrapper">
    <div id="flash">
      <% if flash[:notice] %>
          <div class="notice">
            <%= flash[:notice] %>
          </div>
      <% end %>

      <% if flash[:alert] then %>
          <div class="alert">
            <%= flash[:alert] %>
          </div>
      <% end %>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div>

  <div id="sidebar" class="<%= user_signed_in? ? '' : 'signed_out' %>">
    <h1><%= link_to t('application.name'), root_path %>
      <span class="sub"><%= t 'application.status' %></span></h1>

    <% if user_signed_in? %>
        <div id="user_nav">
          <%= t 'sidebar.user_nav.logged_in_as' %>
          <br/>
          <span class="username">
            <%= current_user.full_name %>
          </span>
          <%= link_to t('sidebar.user_nav.logout'), destroy_user_session_path, method: :delete %>
        </div>

        <div id="modules_nav">
          <ul id="modules">
            <% modules.each do |module_name, module_path| %>
                <li><%= link_to module_name, module_path %></li>
            <% end %>
          </ul>
        </div>

    <% end %>
    <%= link_to t('imprint'), 'http://***REMOVED***/imprint.html' %>
  </div>
</div>
</body>
</html>
